* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

main {
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #e2d3d3;
}

/* HAMBURGER MENU */

.hamburger {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 25px;
    z-index: 1000;
}

aside.open {
    transform: translateX(0);
    opacity: 1;
}


.container {
    display: flex;
    width: 100%;
    transition: margin-left 0.3s ease-in-out;
    
}

.content {
    transition: margin-left 0.3s ease-in-out;
}



aside {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    height: 100%;  
    background-color: #ffdab3;
    backdrop-filter: blur(20%); 
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 500;
}

.Links {
    display: flex;
    flex-direction: column;
    margin: auto;
}

aside li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    gap: 10px;
    color: rgb(0, 0, 0);
    align-items: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.2s;
}

aside li:hover {
    color: #b33232;
    transform: scale(1.1);
}

aside .nav-item::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #b33232, transparent);
    content: '';
    bottom: 0px;
}

.login-drp .drp-item::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #b33232, transparent);
    content: '';
    bottom: 0px;
}

aside .brand-logo {
    list-style-type: none;
    display: flex;
    margin-top: 4rem;
    color: rgb(0, 0, 0);
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.2s;
}

aside .brand-name {
    font-family: "Wallpoet", serif;
    font-size: 2.5rem;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 1rem;
    transition-duration: 0.2s;
    margin-top: -1.5rem;
}

aside .brand-rex {
    color: #b33232;
}

aside .brand:hover {
    transform: scale(1.1);
}

.activeLink{
    color:#b33232;
    transform: scale(1.2);
}

footer {
    position:relative;
    bottom:5px;
    right:0px;
    text-align: center;
    justify-content: center;
    color:#442c2c;
    width:100%;
    font-weight: 300;
    font-size: 0.8rem;
}

.login-drp {
    background-color: #FFDAB3;
    margin-top: 100px;
    justify-content: center;
    border-radius: 30px;
    padding: 8%;
    padding-left: 0;
    border: none;
    box-shadow:
    8px 8px 15px #ccb194,
    -8px -8px 15px #796363;
}

.login-drp:hover {
    box-shadow: 
    -2px -2px 5px #796363,
    inset 8px 8px 15px #ccb194;
}

.side-guest {
    margin-top: -15px;
    color: #44474b;
    font-size: 1rem;
}

/* Mobile styles */

.dropdown {
    position: absolute;
    top: 0;
    right: 2;  /* Aligns the dropdown to the right */
    margin-left: 28rem;
    margin-top: -1.5rem;
    align-items: center;
    background-color: #FFDAB3;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Initially hidden */
    transform: translateX(-50%); /* Positioned off-screen to the right */
    pointer-events: none; /* Prevent interactions while hidden */
    transition: transform 0.3s ease, opacity 0.3s ease; 
    z-index: 1;
    
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown ul li {
    justify-content: center;
    padding: 10px;
}

.dropdown ul li:hover {
    transform: none;
    background-color: #ffa07a;
}

/* Show the dropdown when the parent is hovered */
.login-drp:hover .dropdown {
    opacity: 1; /* Make it visible */
    transform: translateX(0); /* Slide it into place */
    pointer-events: auto;
}


/* SLIDER END */



.mySwiper {
    flex: 1;
    height: 100%;
}

.home-slide {
    color: #442c2c;
    display: flex;
    

}

.HomeContent {
    margin: auto 0px;
    flex: 1;
    height: auto;
    
    padding: 50px;
    user-select: none;
}

.SideImg {

    margin-right: 50px;
}

.SideImg img {
    height: 100%;
}


.HomeContent h1 {
    
    font-size: 2.5vw;
    
    margin-bottom: 10px;
}

.HomeContent h2 {
    font-size: 1.5vw;
    margin-bottom: 10px;
    font-weight: 600;
}

.HomeContent h1 .stylized-name {
    font-weight: 700;
    color: #000000;
}

.heroline span {
    color: #b33232;
    font-weight: 600;
    font-size: 1.7rem;
}

.heroline {
    font-size: 1.5rem;
    font-weight: 500;
    padding-right:50px;
    text-align: justify;
    margin-right: -210px;
}

.buttonGroup {
    
    display: flex;
    padding: 10px 0px;
    margin-top: 20px;
    height: 80px;
    gap: 30px;
}

.animated-btn {
    flex: 1;
    max-width: 250px;
    background-color: #e2d3d3;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
    color: #b33232;
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 8px 8px 15px #5a4747,
    -8px -8px 15px #ffffff;;
}

.animated-btn svg {
    position: absolute;
    z-index: 9;
    margin-top: -2px;
    margin-left: -20px; 
}

.animated-btn .arr-1 {
    opacity: 0;
    transform: translate(-25px);
    transition: transform 0.6s ease, opacity 0.6s ease; 
    
}

.animated-btn .arr-2 {
    
    transition: transform 0.6s ease, opacity 0.6s ease; 
    
}

.animated-btn .buttontext {
    font-family: "Chakra Petch", serif;
    font-weight: 800;
    font-size: 1.3rem;
    margin-right: 30px;
    transition: all 0.3s ease;
}

.animated-btn:hover .arr-1{
    opacity: 1;
    transform: translateX(0); 
    margin-left: -30px;
}

.animated-btn:hover .arr-2{
    opacity: 0;
    transform: translateX(80px); 
}

.animated-btn:hover .buttontext {
    margin-right: -20px;
}


.animated-btn:hover {
    background-color: #FFDAB3;
    color: rgb(0, 0, 0);
}

.slide-help {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    z-index: 100;
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #000000;
}

.mySwiper {
    width: 80vw;
    height: 100dvh;
    overflow: hidden;
    background-color: #343a40;
    
}

.swiper-slide {
    width: 100%;

    background-color: #e2d3d3;
    height: 100%;
    background-image: url(../img/bghome4.png);
    background-position: center;
    background-size: cover;
}


.heading {
    font-family: "Bruno Ace SC", serif;
    font-size: max(2.2vw, 30px);
    font-weight: 700;
    background: linear-gradient(45deg, #b33232, #FFDAB3, #000000, #b33232, #b33232);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}

.services {
    padding: 100px;
    
}

.gridsix {
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    gap: 3rem;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    aspect-ratio: 2;
    margin-top: 3rem;
}



.sub-heading {
   
    color: #000000;
    font-weight: 500;
}

.services .service {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: #7070706f;
    border-radius: 10px;

    backdrop-filter: blur(10px);
    flex-direction: column;
    transition-duration: 0.25s;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:
    8px 8px 15px #918989,
    -8px -8px 12px #918b8b;
}

.services .service i {
    font-size: 3rem;
    color:#FFDAB3;
    transition: all 0.3s ease;
}

.services .service p {
    font-weight: 450;
    font-size: 1.3rem;
    color: #f3d9be;
}

.services .service .service-icon {
    border-radius: 5px;
    margin: 20px auto;
}
.service h2{
    margin-bottom: 20px;
    color:#FFDAB3;
    transition: all 0.3s ease;
}
.service:hover {
    transform: scale(1.1);
    background-color: #FFDAB3;
    color: #2b7080;
    box-shadow:
    2px 2px 6px #bbaeae,
    -2px -2px 6px #795151;
}
.service:hover h2,.service:hover i,.service:hover p{
    color: #2b7080;
}

.client {
    padding: 100px;
}

.slider-container {
    min-height: 70vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex: 1;
    position: relative;
    overflow: hidden;
}

.cardslider {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 70vh;
    
    
}

.item {
    position: absolute;
    width: 20vw;
    height: 60vh;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
       
    background-color: #f7dabd;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 10vw);
    top: 0;
    
}

.item .cardhead {
    font-size: 1.7vw;
    margin-bottom: 10px;
}

.item ul {
    font-size: 0.9vw;
    font-weight: normal;
    list-style-position: inside;
    margin-top: 8px;
}

.client .activeSlide {
    transform: none !important;
    z-index: 1 !important;
    filter: none !important;
    opacity: 1 !important;
    box-shadow: 
        0 0 40px #c07474;
    
}

.client .cardslider img {
    width: 100%;
    opacity: 0.8;
    border-radius: 10px;
}

#next, #prev {
    position: absolute;
    top: 10%;
    padding: 20vh 1.5vw 20vh 1.5vw;
    color: #ee0000;
    background-color: rgba(148, 131, 131, 0.335);
    border-radius: 10px;
    border: none;
    left: 10px;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
   
    transition: all 0.3s ease-in-out;
}

#next:hover, #prev:hover {
    background-color: #f7dabd;
    transform: scale(1.1);
}

#next:active, #prev:active {
    background-color: transparent;
}

#next {
    left: unset;
    right: 10px;
}

.client h2{
    display: flex;
    justify-content: space-between;
}

.client-btn {
    margin-top: 20px;
    margin-right: 40px;
    height: 30px;
    color: #b33232;
}


.company-misvis {
    display: flex;
    gap: 2vw;
    margin: 60px 30px 0 30px;
    
}

.company-vission {
    flex: 1;
    height: auto;
    padding: 50px;
    user-select: none;
    box-shadow: 1px 1px 5px #44474b;
    border-radius: 10px;
}

.company-mission {
    
    flex: 1;
    
    padding: 50px;
    user-select: none;
    box-shadow: 1px 1px 5px #44474b;
    border-radius: 10px;
    
}

.company-misvis h1 {
    
    margin-bottom: 10px;
    text-align: center;
}

.company-misvis h2 {
    font-size: 1.2vw;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: justify;
}

.company-misvis h1 .stylized-name {
    font-weight: 700;
    color: #000000;
}


.coreval {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: 1;
}

.values-container {
    width: 70vw;
    height: 20vh;
    margin-top: 30px;
    overflow: hidden;
}

.values-wrapper {
    display: flex;
    z-index: 1;
    position: relative;
    transition: transform 0.5s ease;
    
}

.core-values {
    flex: 0 0 auto;
    
    height: 20vh;
    background-color: #7070706f;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    text-align: center;
    align-content: center;
    color: #FFDAB3;
}

.core-values i{
    font-size: 2.5vw;
    margin-bottom: 0.4vw;
    color: #FFDAB3;
}

.core-values p {
    margin: 0.4vw 0.4vw 0 0.4vw;
    font-size: 0.8vw;
    font-weight: 400;
}


.values-container .swiper-pagination-bullet {
    background: #b33232;
    opacity: 0.5;
    height: 0.5vw;
    width: 0.5vw;
}

.values-container .swiper-pagination-bullet-active {
    opacity: 1;
}

.company-img {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    margin-top: 50px;
    opacity: 0.7;
    flex: 1;
}

.company-img img{
    height: 25vh;
    width: 80vw;
}

.contact {
    padding: 4vw;
    visibility: hidden;
    
}

.contact-info-form {
    display: flex;
    align-items: center;
    margin-left: 3vw;
    height: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    justify-items: center;
    height: 100%;
    width: 10vw;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactinfo h3 {
    font-size: 1vw;
}

.contactinfo p {
    text-align: center;
    font-size: 0.8vw;
}

.contactinfo i {
    font-size: max(2.5vw, 30px);
    color: #b33232;
    margin: 20px auto;
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 20px;
    height: fit-content;
    margin-left: 30px;
}

form h2 {
    grid-column: 1/span 2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    border: none;
    color: #ffffff;
    background-color: #7070706f;
}



.send-btn {
    grid-column: 1/span 2;
    margin:20px auto ;
    color: #b33232;
    height: 40px;
    width: 10vw;
}

.contact form textarea {
    grid-column: 1/span 2;
    margin: 20px;
    padding: 20px;
    font-size: 1vw;
    border-radius: 10px;
    resize: none;
    border:none;
    border: none;
    color:white;
    background-color: #7070706f;
}

/* form .SocialLinks{
    grid-column: 1/span 2;
    margin: 20px auto;
    padding: 5px;
    width: fit-content;
    background-color: #FFDAB3;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}
form .SocialLinks i{
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
} */

.contact form input:focus {
    border: 2px solid #FFDAB3;
    outline: none;
}

.contact form textarea:focus {
    border: 2px solid #FFDAB3!important;
}

form .SocialLinks:hover, form .SocialLinks i:hover{
    
    transform: scale(1.2);
}


/* .contact {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80px calc(25% - 20px) calc(25% - 20px) calc(25% - 20px) calc(25% - 20px);
    position: relative;
    padding: 100px;
    visibility: hidden;
}

.contact h1 {
    grid-column: 1/span 3;

    padding: 30px;
}

.contact form {
    grid-area: 2/2/ span 5/span 2;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactinfo h3 {
    font-size: 1vw;
}

.contactinfo p {
    font-size: 0.6vw;
}

.contactinfo i {
 
    font-size: 2.5vw;
    color: #b33232;
    margin: 20px auto;
}

.contact form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 20px;
    height: fit-content;
}

.contact form h2 {
    grid-column: 1/span 2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact form input {
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    border: none;
    color: #ffffff;
    background-color: #7070706f;

}

.contact form input:focus {
    border: 2px solid #FFDAB3;
    outline: none;

}

.contact form textarea {
    width: calc(100% - 40px);

    grid-column: 1/span 2;
    margin: 20px;
    padding: 20px;
    font-size: 1vw;
    border-radius: 10px;
    resize: none;
    border:none;
    border: none;
    color:white;
    background-color: #7070706f;
}

.contact form textarea:focus {
    border: 2px solid #FFDAB3!important;
}
.contact button{
    grid-column: 1/span 2;
    margin:20px auto ;

}

.send-btn {
    color: #b33232;
    height: 40px;
    width: 10vw;
    
}

form .SocialLinks{
    grid-column: 1/span 2;
    margin: 20px auto;
    padding: 5px;
    width: fit-content;
    background-color: #FFDAB3;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}
form .SocialLinks i{
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
form .SocialLinks:hover, form .SocialLinks i:hover{
    
    transform: scale(1.2);
}
  */



@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


@media (max-width: 1194px) {
    .hamburger {
        display: block;
    }

    aside {
        width: 20rem; 
    }

    .content {
        margin-left: -20rem;
    }

    .container.open .content {
        margin-left: 0; 
    }
}

@media (min-width: 1194px) {
    aside {
        transform: translateX(0);
        opacity: 1;
    }

    .hamburger {
        display: none; 
    }

    .content {
        margin-left: 0;
    }

}

@media (max-width: 1538px) {
    .buttonGroup button .buttontext {
        
        font-weight: 700;
        font-size: 1.1rem;
    }
}
